
    <div class="col l-3 list-menu">
        <ul class="nav__list">
            <li class="nav__item nav__item-dat">
                <i class="nav__item-category-icon fas fa-align-justify"></i>
                <span class="nav__item-category">Danh Mục Sản Phẩm</span>
            </li>
            <!-- <li class="nav__item nav__item-first">
        <a href="/sachtrongnuoc.html" class="nav__link nav__link-first">Sách Trong Nước</a>
        <div>
            <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <path class="icon-next" fill="currentColor"
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                </path>
            </svg>
        </div> -->
            
            <li class=" nav__item nav__item-first">
                <a href="/dungcuhs.html" class="nav__link nav__link-first ">LapTop</a>
                <div>
                    <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path class="icon-next" fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </div>
            </li>
            <li class=" nav__item nav__item-first">
                <a href="/dochoi.html" class="nav__link nav__link-first ">Apple Chính Hãng</a>
                <div>
                    <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path class="icon-next" fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </div>
            </li>
            <li class=" nav__item nav__item-first">
                <a href="/tuyentap.html" class="nav__link nav__link-first ">Linh Kiện Máy Tính</a>
                <div>
                    <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path class="icon-next" fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </div>
            </li>
            <li class=" nav__item nav__item-first">
                <a href="/nhacungcap.html" class="nav__link nav__link-first ">Thiết Bị Mạng</a>
                <div>
                    <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path class="icon-next" fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </div>
            </li>
            <li class=" nav__item nav__item-first">
                <a href="" class="nav__link nav__link-first ">Thiết Bị Lưu Trữ-Dự Phòng</a>
                <div>
                    <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path class="icon-next" fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </div>
            </li>
            <li class=" nav__item nav__item-first">
                <a href="" class="nav__link nav__link-first ">Hỗ Trợ Chơi Game</a>
                <div>
                    <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path class="icon-next" fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </div>
            </li>
            <li class=" nav__item nav__item-first">
                <a href="/dochoith.html" class="nav__link nav__link-first ">Phần Mềm Bản Quyền</a>
                <div>
                    <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path class="icon-next" fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </div>
            </li>
            <li class=" nav__item nav__item-first">
                <a href="" class="nav__link nav__link-first ">Phụ Kiện-Nâng Cấp</a>
                <div>
                    <svg class="nav__icon" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path class="icon-next" fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </div>
            </li>
        </ul>
    </div>