@Model List<DoAn3.Models.CardItem>
@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/mainlayout.cshtml";
}

<table class="Table">
    <thead>
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Ảnh SP</td>
            <td>Số Lượng SP</td>
            <td>Đơn Giá SP</td>
            <td>Thành Tiền SP</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Ảnh SP</td>
            <td>Số Lượng SP</td>
            <td>Đơn Giá SP</td>
            <td>Thành Tiền SP</td>
        </tr>
    </tbody>
</table>

