
@{
    ViewBag.Title = "InsertProductsType";
    Layout = "~/Views/Shared/_LayoutQuanTri.cshtml";
}
    <div class="right">
        <div class="right__content">
            <div class="right__title">Bảng điều khiển</div>
            <p class="right__desc">Chèn thể loại</p>
            <div class="right__formWrapper">
                <form action="" method="post">
                    <div class="right__inputWrapper">
                        <label for="title">Tiêu đề</label>
                        <input type="text" placeholder="Tiêu đề">
                    </div>
                    <div class="right__inputWrapper">
                        <label for="desc">Mô tả</label>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Mô tả"></textarea>
                    </div>
                    <button class="btn" type="submit">Chèn</button>
                </form>
            </div>
        </div>
    </div>